.view-left {
}

.view-main {
}

.panel-left a {
    font-size: 90%;
}

.page-content .image {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.page-content .image img {
    width: 98%;
}

.page-content {
    padding-top: 0px !important;
    background: url("../img/bg.jpg") left top repeat-y;
    background-size:cover;
    color: #fff;
}

.content-block {
    margin: 12px 0px;
}

.card {
    color: #fff;
    background: transparent;
    font-size: 130%;
}

.card-footer, .card-header {
    padding-top: 0px;
    padding-bottom: 5px;

    min-height: auto;
}

.card-header a {
    font-size: 18px !important;
}

.card .card-content-inner {
    padding-top: 0px;
}

.card-footer a.link, .card-header a.link {
    line-height: 120%;
    height: auto;
}

.card-footer {
    color: rgba(255, 255, 255, 0.8);
}

.card-header:after,
.card-footer:before {
    background: transparent;
}

.card {
    box-shadow: none;

    margin-bottom: 45px;
}

.card-header a.link {
    padding-left: 0px;
}

.accordion-item .item-inner .content-block-title {
    font-size: 140%;
    color: #fff;
    font-weight: 500;
    line-height: 120%;
}

.accordion-item-content {
    font-size: 120%;
}

.two-cell {
    width: 100%;
    overflow: hidden;

    margin-bottom: 80px;
}

.two-cell .left {
    float: left;
    width: 50%;
}

.two-cell .right {
    float: left;
    width: 50%;
}

.two-cell img {
    width: 100%;
    height: auto;
}

.card-header a.link {
    text-decoration: underline;
    text-transform: none;
}

.navbar {
    background: rgba(0, 0, 0, 0.5) !important;
}

.navbar .center {
    font-size: 160%;
    text-shadow: 1px 1px 1px #000000;
}

i.icon.icon-bars {
    width: 50px;
    height: 50px;
}

.navbar .left {
    background: #2196f3;
}
