.view-left {
}

.view-main {
}

.panel-left a {
    font-size: 90%;
}

.page-content .image {
    text-align: center;
}
.page-content .image img {
    width: 98%;
}

.page-content {
    background: #132455;
    color: #fff;
}

.card {
    color: #fff;
    background: transparent;
}

.card-footer {
    color: rgba(255, 255, 255, 0.8);
}



.card-header a.link {
    padding-left: 0px;
}

.accordion-item .item-inner .content-block-title {
    font-size: 140%;
    color: #fff;
    font-weight: 500;
}
